.project-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px ;
    align-items: center;
}
.project-form .move-back {
    cursor: pointer;
    align-self: flex-start;
    font-size: 1.2rem;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.project-form .move-back img {
    height: 1.3rem;
    padding-right: 3px;
}
.project-form .move-back span {
    font-weight: 400;
}
.project-form p {
    margin: 0;
    width: 100%;
    text-align: start;
    line-height: 25px;
}
.project-form input {
    border: 1px solid;
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    border-radius: 2px;
    outline: none;
    padding: 8px;
}
.task-input {
    margin-bottom: 10px;
}
.project-select-container {
    width: 100%;
    position: relative;
}
.projects-list{
    position: absolute;
    top: 32px;
    width: 100%;
    box-shadow: 1px 2px 5px #333;
    list-style: none;
    padding: 0;
    background-color: white;
    color: black;
    margin: 0;
}
.projects-list li {
    box-sizing: border-box;
    font-size: 13px;
    line-height: 14px;
    padding: 8px;
    cursor: pointer;
}
.projects-list li:hover {
    background-color: #27ae60;
}
.project-form button {
    margin-top: 3rem;
    width: 40%;
    font-family: inherit;
}