.projects-history {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-container {
    width: 100%;
}
.projects-history p{
    text-align: start;
    margin: 10px 0 0;
}
.projects-history ul {
    list-style: none;
    padding: 0 0 0 12px;
    background: #4f4f4f;
}
.projects-history li {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: 2px 12px 2px 0;
    align-items: center;
    cursor: default;
}
.projects-history li .task-name {
    width: 75%;
    display: flex;
    align-items: center;
}
.edit-button {
    position: absolute;
    left: -24px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.img-visible {
    left: 0;
}
.projects-history li .task-name .task-moved {
    padding-left: 24px;
}
.projects-history li .task-name span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    line-height: 40px;
    padding-left: 0;
    transition: all 0.5s ease;
}
.projects-history .task-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.task-controls img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.task-controls div{
    padding-left: 10px;
}
.projects-history button {
    margin: 2rem 1rem 1rem;
    width: 40%;
    font-family: inherit;
}
.time-history-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}