.wobbly-form-container{
    width: 350px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: #333 !important;
    border-radius: 5px !important;
    position: absolute !important;
    z-index: 9999 !important;
}
.wobbly-form-header{
    margin: 10px 0 !important;
    box-sizing: border-box !important;
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
    padding: 10px 20px !important;
}
.wobbly-form-header img {
    height: 20px !important;
}
.wobbly-form-exit{
    color: white !important;
    padding: 0 10px !important;
    font-weight: 800 !important;
    font-size: 25px !important;
    transform: rotate(45deg) !important;
    position: absolute !important;
    right: 7px !important;
    top: 10px !important;
    cursor: pointer !important;
    opacity: 0.4 !important;
}
.wobbly-form-edit {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 0 20px !important;
    outline: none !important;
}
.wobbly-form-container input {
    box-sizing: border-box !important;
    font-family: inherit !important;
    font-size: 13px !important;
    width: 100% !important;
    border: 1px solid white !important;
    border-radius: 2px !important;
    outline: none !important;
    padding: 8px !important;
    margin-bottom: 10px !important;
    box-shadow: none !important;
}

.wobbly-form-container p {
    margin: 0 0 2px !important;
    font-family: Open Sans,sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    color: #fff !important;
    line-height: 25px !important;
}
.wobbly-form-select {
    position: relative !important;
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 0 20px !important;
}
.wobbly-form-select .project-input {
    margin-bottom: 0 !important;
}
.wobbly-projects-list{
    /* position: absolute !important;
    top: 50px !important;
    width: 310px !important; */
    z-index: 10 !important;
    position: absolute !important;
    width: 310px !important;
    box-shadow: 1px 2px 5px #333 !important;
    margin-top: -1px !important;
    max-height: 102px !important;
    overflow-y: scroll !important;
    list-style: none !important;
    padding: 0 !important;
    background-color: white !important;
    color: black !important;
}

.wobbly-projects-list li {
    box-sizing: border-box !important;
    font-size: 13px !important;
    padding: 8px !important;
    cursor: pointer !important;
}
.wobbly-projects-list li:hover {
    background-color: #27ae60 !important;
}
.wobbly-form-confirm{
    color: white !important;
    font-weight: 700 !important;
    border: none !important;
    outline: none !important;
    background-color: white !important;
    cursor: pointer !important;
    margin: 10px 0 20px !important;
    width: 40% !important;
    padding: 10px 20px !important;
    background-color: #27ae60 !important;
    border-radius: 5px !important;
    font-family: "Open Sans", sans-serif !important;
    font-style: normal !important;
    font-size: 14px !important;
    line-height: normal !important;
}

.wobbly-projects-list::-webkit-scrollbar {
    width: 10px !important;
}
.wobbly-projects-list::-webkit-scrollbar-track {
    background: white !important; 
}
.wobbly-projects-list::-webkit-scrollbar-thumb {
    background: #888 !important; 
}
.wobbly-projects-list::-webkit-scrollbar-thumb:hover {
    background: #555 !important; 
}
.wobbly-basecamp-btn-container {
    display: flex;
    align-items: center;
}
